body {
    background-color: #d0e4fe;
}
#quiz{
	max-width: 360px;
}
.unanseredQuiz #explain{

  visibility: hidden;
}
.anseredQuiz #explain{
  visibility: visible;
}
.anseredQuiz .answer{
  background: red;
}
.anseredQuiz .answer.correct{
  background: green;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
