body {
    background-color: #d0e4fe;
}

.unanseredQuiz #explain{

  visibility: hidden;
}
.anseredQuiz #explain{
  visibility: visible;
}
.anseredQuiz .answer{
  background: #d9534f;
  border-bottom-color:#d9534f;
  border-top-color:#d9534f;
}
.anseredQuiz .answer.correct{
  background: #5cb85c;
  border-bottom-color:#5cb85c;
  border-top-color:#5cb85c;
}

h1 {
    color: orange;
    text-align: center;
}


