body {
    background-color: #d0e4fe;
}

.unanseredQuiz #explain{

  visibility: hidden;
}
.anseredQuiz #explain{
  visibility: visible;
}
.anseredQuiz .answer{
  background: red;
}
.anseredQuiz .answer.correct{
  background: green;
}

h1 {
    color: orange;
    text-align: center;
}


